# Direcciones tras `forge script script/Deploy.s.sol:Deploy --broadcast` (Anvil)
NEXT_PUBLIC_TOKEN_ADDRESS=
NEXT_PUBLIC_TIMELOCK_ADDRESS=
NEXT_PUBLIC_GOVERNOR_ADDRESS=
NEXT_PUBLIC_BOX_ADDRESS=
NEXT_PUBLIC_RPC_URL=http://127.0.0.1:8545
